<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-light bg-light" id="header">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Приемная комиссия
    </a>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div >

        <div class="row" id="navigation">
          <div class="col-12" style="padding-right:0;">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="home.html" role="tab" aria-controls="v-pills-home" aria-selected="false"><h6>Главная</h6></a>
              <a class="nav-link" id="v-pills-groups-tab" data-toggle="pill" href="groups.html" role="tab" aria-controls="v-pills-groups" aria-selected="false"><h6>Группы</h6></a>
              <a class="nav-link" id="v-pills-students-tab" data-toggle="pill" href="students.html" role="tab" aria-controls="v-pills-students" aria-selected="false"><h6>Абитуриенты</h6></a>
              <a class="nav-link" id="v-pills-exams-tab" data-toggle="pill" href="exams.html" role="tab" aria-controls="v-pills-exams" aria-selected="false"><h6>Вступительные испытания</h6></a>
              <a class="nav-link active" id="v-pills-subjects-tab" data-toggle="pill" href="subjects.html" role="tab" aria-controls="v-pills-subjects" aria-selected="true"><h6>Предметы</h6></a>
              <a class="nav-link" id="v-pills-specialties-tab" data-toggle="pill" href="specialties" role="tab" aria-controls="v-pills-specialties" aria-selected="false"><h6>Специальности</h6></a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-10 " id="content">

        <table>
          <thead>
          <tr>
            <th> Код предмета </th>
            <th> Название предмета </th>
          </tr>
          </thead>
          <tbody>

          <tr th:if="${subjects.empty}">
            <td colspan="2">С предметами сейчас туго</td>
          </tr>

          <tr th:each="subjects : ${subjects}">
            <td><span th:text="${subjects.subjectCode}"></span></td>
            <td><span th:text="${subjects.subjectName}"></span></td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
  <style type="text/css">
    body{
    }
    header{
      background-color: #51b8eb;
      height:80px;
      width:100%;
    }
    #navigation{
      background-color: #458ad2;
      width:18vw;
      height:100vh;
    }
    #content{
      float:right;
      width:100%;
      padding:25px;
      background-color:white;
    }
    #v-pills-tab a{
      color:white;
    }
  </style>
</body>
</html>
